* {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Barlow', sans-serif;
}

body {

    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;
}

.footer {
    background-color: #FFD015;
    text-align: center;
    margin: auto;
    color: #000;
}

.divform {
    margin-top: 15vh !important;
    margin-bottom: 18.3vh !important;
}


.defaultlettering {
    color: white !important;
}

.navbar {
    background: black;
    width: 100%;
    height: 100px;
    text-underline-mode: none;
    text-underline: none !important;;
}

.logo {
    width: 55%;
    height: 100%;
    margin: 3vw !important;
    position: relative;
}

.links {
    text-underline-mode: none;
    text-underline: none !important;
    padding: 1.5vw !important;
    text-decoration: none !important;
    color: white;
    font-size: 20px;
    display: inline;


}

.links:hover {
    color: #FFD015;
    font-size: 25px !important;
    transition: all .2s ease-in-out;

}

.botao {
    font-size: 18px;
    height: 5vh !important;
    background-color: #FFD015;

}

.registate {
    color: #FFD015;
    font-size: 20px;
    margin-left: 8px !important;
    text-decoration: none !important;

}

.registate:hover {
    color: rgba(255, 204, 24, 0.75);
}

.barrapesquisa {
    border-radius: 5px;
    padding: 10px;
    margin: 1vw !important;
    width: 19vw;
}

.lupa {
    margin-left: -45px !important;
}

.logo_link {
    width: 9vw;
}

.barra {
    margin-right: 4vw !important;
}


.dropdown .dropdown-item {
    color: white !important;
    font-size: 15px;

}



.dropdown-item:hover {
    color: #FFD015 !important;
    font-size: 20px;
    opacity: 100% !important;
    background-color: black !important;
    transition: all .2s ease-in-out;

}

.dropdown:hover .dropdown-menu {
    display: block;
    padding: 20px !important;
    color: white !important;
    margin-left: -3.5vw !important;
    background: rgba(0, 0, 0, 1) !important;
    margin-right: 3vw !important;
}

.dropdown-item .arrowemblem {

    display: none;
    width: 20px !important;
    margin: 1vw !important;
    height: auto;
}

.dropdown-item:hover .arrowemblem {

    display: block;
    animation: mysecond 1s 10 ease-in;
    transition: all 1s ease-in;
}

.posicaolinks {
    margin-right: -25vw !important;
}

links:hover .dropdown-menu{
    color: #FFD015;
    font-size: 25px !important;
    transition: all .2s ease-in-out;
    margin-right: 3vw !important;

}



.backgroundmusic {
    background-image: url("../Images/music_backdrop.jpg");
    position: relative;
    background-size: cover;
    text-align: center;
    margin: auto;
    object-fit: cover;
    filter: grayscale(100%) contrast(100%);
    opacity: 0.6;
    z-index: -1000;
    background-image: -webkit-linear-gradient(top,
    rgba(0, 0, 0, 1) 9%,
    rgba(0, 0, 0, 0) 130%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.9) 100%
    ), url("../Images/music_backdrop.jpg");
    height: 59vh;
    margin-top: -4vh !important;



}

.comingsoon {
    margin-top: 17vh !important;
    font-size: 60px;
}

.titulos {

    text-transform: uppercase;
    text-align: start;
    font-size: 5vw!important;
    margin-left: 2.5vw !important;
    margin-top: 7vh !important;
    color: #FFD015 !important;
}


.titulos3 {

    text-transform: uppercase;
    text-align: start;
    font-size: 2vw!important;
    margin-left: 2.5vw !important;
    margin-top: 7vh !important;
    color: #FFD015 !important;
}


.titulos2 h1 {


    text-transform: uppercase;
    text-align: start;
    margin-left: 2.5vw !important;
    margin-top: 5vh !important;
    font-weight: lighter;
    color: white;
}

.titulos1 h1 {


    text-transform: uppercase;
    text-align: start;
    margin-left: 2.5vw !important;
    margin-top: 5vh !important;
    font-weight: lighter;
    color: white;
}


.formulario {
    margin-left: 18vw !important;
    margin-top: 15vh !important;
}

.aindanao {
    font-size: 20px;
    margin-left: 18vw !important;

}

.Backdrop {

    color: #FFD015;
    background-image: url("../Images/backdrop.png");
    height: 35vw !important;
    background-color: black;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;

}

.Backdrop h1 {

    font-size: 6vw;
    font-weight: bolder;

}

.Backdrop h6 {

    margin-left: 3vw !important;
    font-size: 3vw;
    font-weight: lighter;

}

.Backdrop .filler {

    height: 5vw !important;
}

.footer p {

    font-size: 17px
}

@media screen and (max-width: 700px) {
    .Backdrop h6 {
        font-size: 6vw;
    }
}


.IndividualEntertaiment .entertaiment {

    height: 110vw !important;
    object-fit: cover;
    transition: all .2s ease-in-out;
    z-index: 2;


}

.IndividualEntertaiment{

    margin-top: 10vh!important;
}


.IndividualEntertaiment .icon {

    display: none;

}


.IndividualEntertaiment h1 {

    font-weight: bold;
    color: #FFD015;
    text-transform: uppercase;
    padding: 4vh 1vw !important;


}


.IndividualEntertaiment .Director {
    object-fit: cover;
    clip-path: polygon(100% 0, 100% 60%, 52% 100%, 0 60%, 0 0);
    filter: grayscale(100%) contrast(100%);
    opacity: 0.6;
}

.IndividualEntertaiment p {

    font-weight: lighter;
}


@media screen and (max-width: 576px) {

    .EnterButton{
        padding: 23vh 0 23vh 0!important
    }

    .IndividualEntertaiment .entertaiment {

        height: 110vw !important;
    }

    .listentertaiment {

        height: 110vw !important;

    }


}


@media screen and (min-width: 578px) {


    .EnterButton{
        padding: 20vh 0 20vh 0!important;
    }



}


@media screen and (min-width: 768px) {




    .IndividualEntertaiment .entertaiment {

        height: 60vw !important;
    }

    .listentertaiment {

        height: 60vw !important;

    }


}



@media screen and (min-width: 1360px) {

    .EnterButton{
        padding: 3vw!important;
    }

}


@media screen and (min-width: 960px) {

    .EnterButton button:hover {

        font-weight: bolder;
        transform: scale(1.05);
    }


    .listentertaiment:hover .img-back {
        transition: all .2s ease-in-out;
        filter: grayscale(100%) contrast(100%);
        opacity: 0.35;
        transform: scale(1.05);

    }


    .listentertaiment:hover .above {

        transition: all .2s ease-in-out;

        visibility: visible;
    }


    .IndividualEntertaiment .entertaiment {

        height: 37vw !important;
        z-index: 2;
        position: absolute;

    }

    .IndividualEntertaiment .icon {


        visibility: hidden;
        display: block;
        color: #FFD015;
        position: relative;
        margin: 15vw auto !important;
        height: auto !important;
        width: auto;
        z-index: 3;
        transition: all .2s ease-in-out;

    }

    .IndividualEntertaiment .img-enter:hover .entertaiment {

        transform: scale(1.1) translate3d(0, 0, 0);
        object-fit: cover;
        filter: brightness(70%) grayscale(100%) contrast(100%);

    }

    .IndividualEntertaiment .img-enter:hover .icon {

        visibility: visible;

    }

    .listentertaiment {

        height: 37vw !important;

    }

    .seemore {

        display: none;
    }

}


.DirectorContain {

    margin: 5vh auto !important;

}

.DirectorContain h5 {

    color: #FFD015;
    font-weight: lighter;

}

.DirectorContain h5 {

    color: #FFD015;
    font-weight: lighter;

}



.EnterButton button {

    background-color: #FFD015;
    border: none;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}



.EnterButton button {

    margin: 4.5vh !important;
}


.videoorpreview {

    width: 100vw !important;
    height: 100vh !important;
    border: none;
    margin: 5vh 0 !important;
}


.scroll-box {
    padding-left: 10vw !important;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


li {
    display: inline-block;
}


::-webkit-scrollbar {
    display: none !important;
}


.listentertaiment {

    display: inline-block;
}


.listentertaiment .img-back {

    height: 100%;
    object-fit: cover;


}


.buttonseemore {

    background-color: #FFD015;
    border-radius: 10px;
    border: none;
    padding: 2vh !important;
    font-weight: bold;


}


.seemore {

    position: relative;
    top: -4vh;
}


.above {

    height: 37vw;
    top: 0;
    visibility: hidden;

}


.breakword {

    word-wrap: break-word;
}


.above p {


    font-size: large;
}

.above h1 {

    font-weight: bold;
    color: #FFD015;
    margin-bottom: 2vh !important;
    font-size: 2vw !important;
}

.text-adapt {

    font-size: 1.13vw !important;

}

.arrow {

    width: 40px !important;
    margin: 1vw !important;
    height: auto;


}


.controls button {

    border: none;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);

}


.controls button:hover {

    background-color: rgba(0, 0, 0, 0.9);

}


.back {

    left: 0 !important;
    transform: scaleX(-1)
}

.front {
    right: 0 !important;
}





.arrowleft{
    bottom: 0;
    margin: auto !important;
}

.arrowright{
    bottom: 0;
    margin: auto !important;

}

.paginacaoright{
    width: 5vw;

}

.paginacaoleft{
    width: 5vw;

}






.likeandview {

    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 4vw 2vw 4vw !important;
}


.arrowemblem {

    position: relative;
    top: -0.7vh !important;
    left: 0;
opacity: 0}


.titulos2:hover .arrowemblem {


    display: block;
    animation: myfirst 1s 1 ease-in-out;
    transition: all .2s ease-in-out;
}


.titulos2:hover h1{

    color: #FFD015;
    font-weight: bold;
    text-decoration: none;
}


@keyframes myfirst {
    0%   {opacity: 0; left: 0px;}
    5%   {opacity: 1}
    50%  {left: 100px;}
    100% {left: 0px;}
}


@keyframes mysecond {
    0%   {opacity: 0; left: 0px;}
    1%   {opacity: 1}
    50%  {left: 10px;}
    100% {left: 0px;}
}

a {
    text-decoration: none!important;
}

.yourImage{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}


.gen{
    color: #FFD015;
    font-size: smaller !important;
    font-weight: lighter;
}