*{padding: 0!important; margin: 0!important;font-family: 'Barlow', sans-serif;
}



body{

    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;


}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}

.footer{
  background-color: #FFD015;
  text-align: center;
  margin: auto;
    color: #000;


}


.defaultlettering{
    color: white !important;
}

.navbar {
  background: black;
  width: 100%;
  height: 100px;
    text-underline-mode: none;
    text-underline: none !important;
;
}

.logo {
    width: 25%;
    height: 100%;

}

.links {
    text-underline-mode: none;
    text-underline: none !important;
}



.Backdrop {

    color: #FFD015;
    background-image: url("Backdrop.png");
    height: 35vw !important;
    background-color: black;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}


.Backdrop h1 {

    font-size: 6vw;
    font-weight: bolder;

}


.Backdrop h6 {

    margin-left: 3vw!important;
    font-size: 3vw;
    font-weight: lighter;

}

.Backdrop .filler {

    height: 5vw!important;


}



.footer p{

   font-size: 17px
}

@media screen and (max-width: 700px) {
    .Backdrop h6 {

        font-size: 6vw;

    }



}




