*{padding: 0!important; margin: 0!important;font-family: 'Barlow', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.background {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.footer{
  background-color: #FFD015;
  width: 100%;
  height: 100px;
  text-align: center;
  margin: auto;

}

.footertext {
  top: 50%;
}

.defaultlettering{
    color: white !important;
}

.navbar {
  background: black;
  width: 100%;
  height: 100px;
    text-underline-mode: none;
    text-underline: none !important;
;
}

.logo {
    width: 25%;
    height: 100%;

}

.links {
    text-underline-mode: none;
    text-underline: none !important;
}



.Backdrop {

    color: #FFD015;
    background-image: url("Backdrop.png");
    height: 45vw !important;
    background-color: black;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}


.Backdrop h1 {

    font-size: 6vw;

}


.Backdrop h6 {

    margin-left: 3vw!important;
    font-size: 3vw;

}

.Backdrop .filler {

    height: 5vw!important;


}

@media screen and (max-width: 700px) {
    .Backdrop h6 {

        font-size: 6vw;

    }
}

