* {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Barlow', sans-serif;
}

body {

    background-color: black;
    font-size: calc(10px + 2vmin);
    color: white;
}

.footer {
    background-color: #FFD015;
    text-align: center;
    margin: auto;
    color: #000;
}

.divform{
    margin-top: 15vh !important;
    margin-bottom: 18.3vh !important;
}

.defaultlettering {
    color: white !important;
}

.navbar {
    background: black;
    width: 100%;
    height: 100px;
    text-underline-mode: none;
    text-underline: none !important;;
}

.logo {
    width: 55%;
    height: 100%;
    margin: 3vw !important;
    position: relative;
}

.links {
    text-underline-mode: none;
    text-underline: none !important;
    padding: 1.5vw !important;
    text-decoration: none !important;
    color: white;
    font-size: 20px;
    display: inline;


}

.links:hover{
    color: #FFD015;
    font-size: 25px !important;
    transition: all .2s ease-in-out;

}

.botao {
    font-size: 18px;
    height: 5vh !important;
    background-color: #FFD015;

}

.registate {
    color: #FFD015;
    font-size: 20px;
    margin-left: 8px !important;
    text-decoration: none !important;

}

.registate:hover {
    color: rgba(255, 204, 24, 0.75);
}

.barrapesquisa {
    border-radius: 5px;
    padding: 10px;
    margin: 1vw !important;
    width: 19vw;
}

.lupa {
    margin-left: -45px !important;
}

.logo_link {
    width: 9vw;
}

.barra{
    margin-right: 4vw !important;
}

.backgroundmusic {
    background-image: url("IMGS/1292156-rock-concert-wallpaper-2880x1800-for-phone.jpg");
    position: relative;
    background-size: cover;
    text-align: center;
    margin: auto;
    object-fit: cover;
    filter: grayscale(100%) contrast(100%);
    opacity: 0.6;
    z-index: -1000;
    background-image: -webkit-linear-gradient(top,
    rgba(0,0,0,1) 9%,
    rgba(0,0,0,0) 130%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
    ), url("IMGS/1292156-rock-concert-wallpaper-2880x1800-for-phone.jpg");
    height: 60vh;
}

.comingsoon{
    margin-top: 17vh!important;
    font-size: 60px;
}

.titulos {
    text-align: start;
    margin-left: 2.5vw !important;
    margin-top: 7vh !important;
    color: #FFD015 !important;
}

.formulario{
    margin-left: 18vw !important;
    margin-top: 15vh !important;
}

.aindanao{
    font-size: 20px;
    margin-left: 18vw !important;

}

.Backdrop {

    color: #FFD015;
    background-image: url("Backdrop.png");
    height: 35vw !important;
    background-color: black;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;

}

.Backdrop h1 {

    font-size: 6vw;
    font-weight: bolder;

}

.Backdrop h6 {

    margin-left: 3vw !important;
    font-size: 3vw;
    font-weight: lighter;

}

.Backdrop .filler {

    height: 5vw !important;
}

.footer p {

    font-size: 17px
}

@media screen and (max-width: 700px) {
    .Backdrop h6 {
        font-size: 6vw;
    }
}


.IndividualEntertaiment .entertaiment {

    height: 110vw !important;
    object-fit: cover;
    transition: all .2s ease-in-out;
    z-index: 2;


}



.IndividualEntertaiment  .icon{

    display: none;

}



.IndividualEntertaiment h1{

    font-weight: bold;
    color: #FFD015;
    text-transform: uppercase;
    padding: 4vh 1vw!important;
}

.IndividualEntertaiment .Director{
    object-fit: cover;
    clip-path: polygon(100% 0, 100% 60%, 52% 100%, 0 60%, 0 0);
    filter: grayscale(100%) contrast(100%);
    opacity: 0.6;
}

.IndividualEntertaiment p{
    font-weight: lighter;
}

@media screen and (max-width: 576px) {
    .IndividualEntertaiment .entertaiment {

        height: 110vw !important;
    }



}


@media screen and (min-width: 768px) {
    .IndividualEntertaiment .entertaiment {

        height: 60vw !important;
    }

}


@media screen and (min-width: 960px) {
    .IndividualEntertaiment .entertaiment {

        height: 37vw !important;
        z-index: 2;
        position: absolute;

    }

    .IndividualEntertaiment .icon {


        visibility: hidden;
        display: block;
        color: #FFD015;
        position: relative;
        margin: 15vw auto !important;
        height: auto !important;
        width: auto;
        z-index: 3;
        transition: all .2s ease-in-out;

    }

    .IndividualEntertaiment .img-enter:hover .entertaiment{

        transform: scale(1.2) translate3d(0, 0, 0);
        object-fit: cover;
        filter: grayscale(100%) contrast(100%) blur(1px);
        opacity: 0.95;


    }

    .IndividualEntertaiment .img-enter:hover .icon{

        visibility: visible;

    }
}



.DirectorContain{

    margin: 5vh auto!important;

}

.DirectorContain h2{

color: #FFD015;

}


.EnterButton button{

    background-color: #FFD015;
    border: none;
    padding: 1vh!important;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.EnterButton button:hover{

   font-weight: bolder;
    font-size: 4vh;
   transform: scale(1.05);
}


.EnterButton button{

    margin: 6vh!important;
}


.videoorpreview{

    width: 100vw!important;
    height: 100vh!important;
    border: none;
    margin: 5vh 0!important;
}

.pads{

    padding-top: 5vh!important;
}

.thumbs {

    display: none!important;
}

.control-dots{

    display: none!important;
}

.nothing{

    display: none!important;
}